
        body {
            margin-top: 80px;
            margin-bottom: 50px;
            font-family: Helvetica, Arial, sans-serif;
        }

        .body {
            margin-left: 10%;
            margin-right: 10%;
            text-align: justify;
        }

        header {
            position: fixed;
            width: 100%;
            text-align: left;
            background-color: black;
            top: 0;
            margin-top: 10px;
        }

        header a:hover {
            color: red;
            text-decoration: underline;
        }

        ul {
            padding: 0;
        }

        nav {
            margin-left: 10%;
            margin-right: 10%;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .head1 {
            background-color: grey;
        }

        .head2 {
            text-transform: uppercase;
        }

        .head3 {
            font-style: italic;
        }

        .header2 {
            background-color: grey;
            text-align: center;
            padding: 10px;
        }

        .img,
        .video {
            text-align: center;
            width: 90%;
        }

        .border1 {
            text-align: center;
            width: 33%;
            float: left;
            border-right: 1px solid black;
            margin-bottom: 10px;
        }

        .border1 p {
            text-align: justify;
            padding: 10px;
        }

        .border2 p {
            text-align: justify;
            padding: 10px;
        }

        .border2 {
            text-align: center;
            width: 33%;
            float: left;
            margin-bottom: 10px;
        }

        fieldset {
            background-color: grey;
            border: none;
            margin-top: 10px;
            text-align: center;
        }

        table {
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
            padding: 5px;
            border-collapse: collapse;
        }

        thead {
            margin-left: 100px;
            margin-right: 100px;
            text-align: center;
        }

        th,
        td {
            border: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }

        tbody th,
        tbody td,
        tfoot th,
        tfoot td {
            text-align: right;
        }

        tfoot td {
            color: red;
            font-weight: bold;
        }

        tbody tr:nth-child(even) {
            background-color: lightgray;
        }

        tbody tr:hover {
            background-color: lightblue;
        }

        .style1 {
            font-weight: bold;
        }

        caption {
            border-top: none;
            caption-side: top;
            font-weight: bold;
        }

        input {
            box-shadow: 3px 3px 5px black;
            border-radius: 5px 5px 5px 5px;
        }

        footer {
            position: fixed;
            width: 100%;
            text-align: left;
            background-color: black;
            color: white;
            text-decoration: none;
            bottom: 0;
        }

        footer p {
            margin-left: 10%;
            margin-right: 10%;
        }

        @media only screen and (max-width: 1000px) {
            .img,
            .video {
                text-align: center;
                width: 90%;
            }

            .border1 {
                text-align: center;
                width: 100%;
                border: none;
                margin-bottom: 10px;
                float: none;
            }

            .border1 p {
                text-align: center;
                padding: 10px;
            }

            .border2 p {
                text-align: center;
                padding: 10px;
            }

            .border2 {
                text-align: center;
                width: 100%;
                margin-bottom: 10px;
                float: none;
            }

            fieldset {
                display: flex;
            }

